1 ICON "netcurfew.ico"
1 24 "NetCurfew.manifest"
1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
FILEOS          0x40004L
FILETYPE        0x1L
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "CompanyName",      "NetCurfew"
      VALUE "FileDescription",  "NetCurfew - password-protected night internet guard"
      VALUE "FileVersion",      "1.0.0.0"
      VALUE "InternalName",     "NetCurfew"
      VALUE "LegalCopyright",   "Copyright (C) 2026"
      VALUE "OriginalFilename", "NetCurfew.exe"
      VALUE "ProductName",      "NetCurfew"
      VALUE "ProductVersion",   "1.0.0.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1200
  END
END
